@media only screen and (max-width: 767px){
    .restocard-container{
        width: 60vw;
        height: 22vh;
        margin: 0 -2%;
    }
    
    .restocard-container img{
        width: 60vw;
        height: 20vh !important;
        border-radius: 5px;
    }
    
    
    .restocard-container {
        position: relative;
    }
    
    .restocard-container img {
        width: 100%;
        height: auto;
        transition: filter 0.3s ease;
    }
    
    .restocard-container img.blurred {
        filter: blur(3px);
    }
    
    .resto-name {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: rgb(255, 255, 255);
        padding: 5px 10px;
        border-radius: 5px;
        font-weight: bold;
        font-size: 12px;
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.3s ease, visibility 0s linear 0.3s;
    }
    
    .restocard-container:hover .resto-name {
        visibility: visible;
        opacity: 1;
    }
}


@media only screen and (min-width: 768px) and (max-width: 1023px){
    .restocard-container{
        width: 25vw;
        height: 20vh;
        margin: 0 -13%;
    }
    
    .restocard-container img{
        width: 15vw;
        height: 20vh !important;
        border-radius: 5px;
    }
    
    
    .restocard-container {
        position: relative;
    }
    
    .restocard-container img {
        width: 100%;
        height: auto;
        transition: filter 0.3s ease;
    }
    
    .restocard-container img.blurred {
        filter: blur(3px);
    }
    
    .resto-name {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: rgb(255, 255, 255);
        padding: 5px 10px;
        border-radius: 5px;
        font-weight: bold;
        font-size: 16px;
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.3s ease, visibility 0s linear 0.3s;
    }
    
    .restocard-container:hover .resto-name {
        visibility: visible;
        opacity: 1;
    }
}


@media (min-width: 1024px) {
    .restocard-container{
        width: 19vw;
        height: 20vh;
    }
    
    .restocard-container img{
        width: 15vw;
        height: 20vh !important;
        border-radius: 5px;
    }
    
    
    .restocard-container {
        position: relative;
    }
    
    .restocard-container img {
        width: 100%;
        height: auto;
        transition: filter 0.3s ease;
    }
    
    .restocard-container img.blurred {
        filter: blur(3px);
    }
    
    .resto-name {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: rgb(255, 255, 255);
        padding: 5px 10px;
        border-radius: 5px;
        font-weight: bold;
        font-size: 16px;
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.3s ease, visibility 0s linear 0.3s;
    }
    
    .restocard-container:hover .resto-name {
        visibility: visible;
        opacity: 1;
    }
}

