@media only screen and (max-width: 767px){
    .chefcard-container{
        width: 18vw;
        height: 15vh;
    }
    
    .chefcard-container img{
        width: 18vw;
        height: 15vh !important;
        border-radius: 5px;
    }
    
    
    .chefcard-container {
        position: relative;
    }
    
    .chefcard-container img {
        width: 100%;
        height: auto;
        transition: filter 0.3s ease;
    }
    
    .chefcard-container img.blurred {
        filter: blur(3px);
    }
    
    .chef-name {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: rgb(255, 255, 255);
        padding: 5px 10px;
        border-radius: 5px;
        font-weight: bold;
        font-size: 16px;
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.3s ease, visibility 0s linear 0.3s;
    }
    
    .chefcard-container:hover .chef-name {
        visibility: visible;
        opacity: 1;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px){
    .chefcard-container{
        width: 16vw;
        height: 20vh;
    }
    
    .chefcard-container img{
        width: 15vw;
        height: 20vh !important;
        border-radius: 5px;
    }
    
    
    .chefcard-container {
        position: relative;
    }
    
    .chefcard-container img {
        width: 100%;
        height: auto;
        transition: filter 0.3s ease;
    }
    
    .chefcard-container img.blurred {
        filter: blur(3px);
    }
    
    .chef-name {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: rgb(255, 255, 255);
        padding: 5px 10px;
        border-radius: 5px;
        font-weight: bold;
        font-size: 16px;
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.3s ease, visibility 0s linear 0.3s;
    }
    
    .chefcard-container:hover .chef-name {
        visibility: visible;
        opacity: 1;
    }
}

@media only screen and (min-width: 1024px) {
    .chefcard-container {
        width: 10vw;
        height: 25vh;
    }
    
    .chefcard-container img {
        width: 10vw;
        height: 27vh;
        border-radius: 5px;
    }
    
    .chefcard-container {
        position: relative;
    }
    
    .chefcard-container img {
        width: 100%;
        height: auto;
        transition: filter 0.3s ease;
    }
    
    .chefcard-container img.blurred {
        filter: blur(3px);
    }
    
    .chef-name {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: rgb(255, 255, 255);
        padding: 5px 10px;
        border-radius: 5px;
        font-weight: bold;
        font-size: 16px;
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.3s ease, visibility 0s linear 0.3s;
    }
    
    .chefcard-container:hover .chef-name {
        visibility: visible;
        opacity: 1;
    }
}
