@media only screen and (max-width: 767px){

    .Chefs-Section{
        padding-top: 0%;
        margin-bottom: 0%;
    }

    .Chefs-container{
        overflow: hidden;
        margin-top: 0%;
        padding-top: 4%;
        padding-bottom: 6%;
    }

    .Chefs-title h2{
        text-align: center;
        font-size: 35px;
        font-weight: 700;
        color: #ffb700;
    }

    .Chefs-title span{
        color: white;
    }


    .Slider-container {
        margin-top: 2%;
        margin-left: 10%;
        margin-right: 10%;
      }

    .slick-prev,
    .slick-next {
        width: auto !important;
        height: 12% !important;
    }

    .slick-next{
        margin-left: 20% !important;
    }

    .ChefsCards{
        margin-left: 20%;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .Chefs-cards-button{
        background-color: rgb(255, 183, 0);
        border: solid 2px rgb(255, 183, 0);
        border-radius: 5px;
        margin-top: 3%;
        padding: 0.6% 4%;
        font-weight: 600;
    }

    .Chefs-cards-button:hover{
        background-color: rgb(204, 146, 0);
        border: solid 2px rgb(204, 146, 0);
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px){
    
    .Chefs-Section{
        padding-top: 0%;
        margin-bottom: 0%;
    }

    .Chefs-container{
        overflow: hidden;
        margin-top: 0%;
        padding-top: 4%;
        padding-bottom: 6%;
    }

    .Chefs-title h2{
        text-align: center;
        font-size: 35px;
        font-weight: 700;
        color: #ffb700;
    }

    .Chefs-title span{
        color: white;
    }


    .Slider-container {
        margin-top: 2%;
        margin-left: 10%;
        margin-right: 10%;
      }

    .slick-prev,
    .slick-next {
        width: auto !important;
        height: 12% !important;
    }

    .slick-next{
        margin-left: 20% !important;
    }

    .ChefsCards{
        margin-left: 20%;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .Chefs-cards-button{
        background-color: rgb(255, 183, 0);
        border: solid 2px rgb(255, 183, 0);
        border-radius: 5px;
        margin-top: 3%;
        padding: 0.6% 4%;
        font-weight: 600;
    }

    .Chefs-cards-button:hover{
        background-color: rgb(204, 146, 0);
        border: solid 2px rgb(204, 146, 0);
    }
}

@media (min-width: 1024px) {

    .Chefs-Section{
        padding-top: 0%;
        margin-bottom: 0%;
    }

    .Chefs-container{
        overflow: hidden;
        margin-top: 0%;
        padding-top: 4%;
        padding-bottom: 6%;
    }

    .Chefs-title h2{
        text-align: center;
        font-size: 35px;
        font-weight: 700;
        color: #ffb700;
    }

    .Chefs-title span{
        color: white;
    }


    .Slider-container {
        margin-top: 2%;
        margin-left: 22%;
        margin-right: 22%;
      }

    .slick-prev,
    .slick-next {
        width: auto !important;
        height: 12% !important;
    }

    .slick-next{
        margin-left: 20% !important;
    }

    .ChefsCards{
        margin-left: 15%;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .Chefs-cards-button{
        background-color: rgb(255, 183, 0);
        border: solid 2px rgb(255, 183, 0);
        border-radius: 5px;
        margin-top: 3%;
        padding: 0.6% 4%;
        font-weight: 600;
    }

    .Chefs-cards-button:hover{
        background-color: rgb(204, 146, 0);
        border: solid 2px rgb(204, 146, 0);
    }
    
}

